<?xml version='1.0' encoding='utf-8'?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ A Task Manager software. Copyright (C) 2011 Jean-Pierre PRUNARET
  ~ <jean-pierre+taskmgr@spam.prunetwork.fr>  (without spam.)
  ~
  ~ This library is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation; either version 2.1 of the License,
  ~ or any later version.
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this library; if not, write to the Free Software Foundation, Inc.,
  ~ 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!--<session-factory>-->

    <!--&lt;!&ndash; Database connection settings &ndash;&gt;-->
    <!--<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>-->
    <!--<property name="connection.url">jdbc:hsqldb:hsql://localhost</property>-->
    <!--<property name="connection.username">sa</property>-->
    <!--<property name="connection.password">secret</property>-->

    <!--&lt;!&ndash; JDBC connection pool (use the built-in) &ndash;&gt;-->
    <!--<property name="connection.pool_size">1</property>-->

    <!--&lt;!&ndash; SQL dialect &ndash;&gt;-->
    <!--<property name="dialect">org.hibernate.dialect.HSQLDialect</property>-->

    <!--&lt;!&ndash; Enable Hibernate's automatic session context management &ndash;&gt;-->
    <!--<property name="current_session_context_class">thread</property>-->

    <!--&lt;!&ndash; Disable the second-level cache  &ndash;&gt;-->
    <!--<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->

    <!--&lt;!&ndash; Echo all executed SQL to stdout &ndash;&gt;-->
    <!--<property name="show_sql">true</property>-->

    <!--&lt;!&ndash; Drop and re-create the database schema on startup &ndash;&gt;-->
    <!--<property name="hbm2ddl.auto">update</property>-->

    <!--<mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/>-->
    <!--<mapping resource="org/hibernate/tutorial/domain/Person.hbm.xml"/>-->

    <!--</session-factory>-->

    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost/sandbox</property>
        <property name="connection.username">jpierre03</property>
        <property name="connection.password">toto</property>

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">create</property>-->
        <property name="hbm2ddl.auto">update</property>

        <!-- mapping files -->
        <!--<mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/>-->
        <!--<mapping resource="org/hibernate/tutorial/domain/Person.hbm.xml"/>-->

        <mapping class="fr.prunetwork.task.domain.Task"/>
    </session-factory>

</hibernate-configuration>

